$themes: (
  light: (
    background: (
      100: #EFEFEF,
      500: #FAFAFA,
      300: #FFF,
    ),
    color: (
      100: #111111,
      500: #212121,
      300: #212121,
    ),
    card: (
      200: #ffffff,
    ),
    primary: (
      100: #4FD05F,
      500: #5FE06F,
      300: #6FF07F,
    ),
  ),
  dark: (
    background: (
      100: #050505,
      500: #151515,
      300: #252525,
    ),
    color: (
      100: #BABABA,
      500: #EAEAEA,
    ),
    card: (
      500: #26262681,
    ),
    primary: (
      100: #4FD05F,
      500: #5FE06F,
      300: #6FF07F,
    ),
  )
);

@mixin theme($key, $color: $key, $shade: 500) {
  @each $theme-name, $theme-color in $themes {
    .#{$theme-name} & {
      #{$key}: map-get(map-get(map-get($themes, $theme-name), $color), $shade)
    }
  }
}

:root[data-theme="light"] {
  --primary-color: #2fc686;
  --text-color: #0e0e10;
  --bg-color: #fafafa;
}
:root[data-theme="dark"] {
  --primary-color: #2fc686;
  --text-color: #ececec;
  --bg-color: #0e0e10;
}
