@use '~/sass/colors' as *;

.skills {
  display: flex;
  width: 100%;
  padding: 30px;
  color: #fafafa;
  background: #000;
  box-shadow: 0 0 20px #00000030;
  // @include theme(background, background, 100);
}

.skill {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 1px 0;

  .caption {
    color: #ccc;
    font-weight: 500;
    font-size: 14px;
  } 
}

.rating {
  display: flex;

  .point {
    box-sizing: border-box;
    width: 10px;
    height: 10px;
    margin: 2px;
    background-color: transparentize($color: #fff, $amount: 0.8);
    border-radius: 5px;

    &.filled {
      background-color: #fff;
    }
  }
}

