.theme-switcher {
  margin-top: 20px;

  .light-area {
    position: absolute;
    top: -70%;
    left: -45%;
    width: 100px;
    height: 100px;
    background: radial-gradient(circle, rgba(255,216,0,0.3) 10%, rgba(255,216,0,0.1) 20%, rgba(255,216,0,0.0095) 60%, rgba(0,0,0,0) 90%);
    opacity: 0;
  }

  button {
    background: none;
    border: none;
    cursor: pointer;
    opacity: 0.2;
    filter: grayscale(1);
    transition: all 0.2s ease;

    &.active {
      opacity: 1;
      filter: grayscale(0);

      & .light-area {
        opacity: 1;
      }
    }

    &:hover,
    &:focus {
      border: none;
      outline: none;
      opacity: 1;
      filter: grayscale(0);

      & .light-area {
        opacity: 1;
      }
    }
  }

  button>img {
    height: 40px;
  }
}