@use '~/scss/colors' as *;
@use '~/scss/config' as *;

.experience {
  display: flex;
  padding-bottom: 100px;
  overflow: auto;
  font-family: 'Montserrat', serif;
  background-color: #181818e1;
  box-shadow: 0 0 50px #00000051;
  backdrop-filter: blur(50px);
  @include theme(color);

  @include tablet {
    padding-right: 60px;
    padding-left: 60px;
  }

  p {
    line-height: 22px;
  }
}

.light .experience {
  background-color: #ffffff51;
  box-shadow: 0 0 50px #00000011;
  backdrop-filter: blur(50px);
}

.file {
  display: flex;
  align-items: center;

  .download-link {
    display: flex;
    align-items: center;
    margin-left: 15px;
    font-weight: bold;
    font-size: smaller;
    font-family: 'Roboto Mono', monospace;
  }

  .download-icon {
    margin: 5px;

    & > svg {
      width: 20px;
      height: 20px;
      transform: translateY(3px);
      
      & path {
        fill: var(--text-color);
      }
    }
  }
}

.cv-wrapper {
  display: flex;
  flex-wrap: wrap;
  // gap: 40px;
  box-sizing: border-box;
  width: 100%;
  margin-top: 20px;

  @include tablet {
    margin-top: 40px;
  }

  .column {
    width: 100%;
    @include desktop {
      box-sizing: border-box;
      width: 50%;
    }
  }
  
  .column.left {
    @include desktop {
      padding: 20px 15px 20px 0;
    }
  }

  .column.right {
    @include desktop {
      padding: 20px 0 20px 15px;
    }
  }

  .column > div {
    margin-bottom: 30px;
  }
}