@use '~/sass/colors' as *;
@use '~/sass/config' as *;

.experience {
  display: flex;
  padding-right: 20px;
  padding-bottom: 100px;
  padding-left: 20px;
  overflow: auto;
  font-family: 'Montserrat', serif;
  background-color: #10101051;
  box-shadow: 0 0 50px #00000051;
  backdrop-filter: blur(150px);
  // @include theme(background);
  @include tablet {
    padding-right: 60px;
    padding-left: 60px;
  }
}

.light .experience {
  background-color: #ffffff51;
  box-shadow: 0 0 50px #00000011;
  backdrop-filter: blur(50px);
}

.cv-wrapper {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  box-sizing: border-box;
  width: 100%;
}