@use '~/sass/colors' as *;
@use '~/sass/config' as *;

.family-name {
  z-index: -1;
  font-weight: 100;
  opacity: 0.2;
}

.light .family-name {
  opacity: 0.5;
}

.role {
  z-index: -1;
  margin: 5px 0;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  @include theme(color, primary);
}

.menu-link {
  display: flex;
  align-items: center;

  &:after {
    display: inline-block;
    width: 10px;
    height: 20px;
    margin-left: 10px;
    border-left: 4px solid transparent;
    transition: border-color 0.3s ease;
    content: '';
  }
}

.menu-link.active {
  &:after {
    border-color: green;
    animation: blame 1.5s ease infinite;
  }
}

menu {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding-top: 80px;
  padding-left: 40px;

  @include desktop {
    width: 50%;
    padding-top: 100px;
    padding-left: 100px;
  }

  h1 {
    margin: 0;
    font-weight: 900;
  }

  ol {
    margin: 0;
    margin-top: 40px;
    padding: 0;
    list-style: none;
  }

  li {
    padding: 5px;
    text-transform: lowercase;
    list-style: none;
  }

  .menu-item-prefix {
    margin-right: 10px;
    color: #505050;
  }

  .controls {
    margin-top: 40px;

    button {
      @include theme(background, primary);
      padding: 10px 30px;
      font-weight: bold;
      font-size: larger;
      font-family: inherit;
      text-transform: uppercase;
      border: none;
      outline: none;
      box-shadow: 5px 5px 0 0 white;
    }

    .info {
      margin-top: 30px;
      margin-bottom: 10px;
      color: gray;
      font-size: smaller;
    }

    .info-count {
      @include theme(color, primary);
      font-size: medium;      
    }

    input {
      @include theme(background);
      @include theme(color);
      width: 100%;
      margin-top: 10px;
      padding: 10px 0;
      font-size: medium;
      font-family: inherit;
      border: none;
      border-bottom: 1px solid white;
      outline: none;
    }
  }
}

@keyframes blame {
  0% { opacity: 0;}
  20% { opacity: 1;}
  80% { opacity: 1;}
  100% { opacity: 0;}
}
