@use '~/sass/config' as *;

.layout {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  height: 100%;

  @include desktop {
    width: 50%;
  }
}

img {
  position: absolute;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
  opacity: 0.1;
}

.effect-wrapper {
  position: absolute;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  max-height: 100vh;

  .effect {
    height: 100vh;

    @include desktop {
      background-image: url("./assets/texture.jpg");
    }
  }
  
  .effect:after {
    position: fixed;
    top: -100%;
    left: -50%;
    width: 300%;
    height: 300%;
    overflow: hidden;
    background-image: url("./assets/paper.jpg");
    opacity: 0.6;
    animation: grain 10s steps(10) infinite;
    content: "";
  }
  
  .light .effect:after {
    background-image: url("./assets/paper-light.png");
    opacity: 0.2;
  }
}

.glass {
  position: absolute;
  left: 0;
  z-index: -2;
  width: 100vw;
  height: 100vh;
  background-color: rgba(#000, 0.4);
  backdrop-filter: blur(40px);

  @include desktop {
    backdrop-filter: none;
  }
}

.svg-wrapper {
  position: absolute;
  z-index: -3;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  svg {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -2;
    width: auto;
    height: 100vh;
    transform: translateX(100vw) scale(4) ;

    #bg-rect {
      fill: url('#bgGradMobile');
    }
    
    @include desktop {
      top: 0;
      right: 0;
      transform: scale(4);
      fill: url('#bgGrad');
    }
  }
}

@keyframes grain {
  0%, 100% { transform:translate(0, 0) }
  10% { transform:translate(-5%, -10%) }
  20% { transform:translate(-15%, 5%) }
  30% { transform:translate(7%, -25%) }
  40% { transform:translate(-5%, 25%) }
  50% { transform:translate(-15%, 10%) }
  60% { transform:translate(15%, 0%) }
  70% { transform:translate(0%, 15%) }
  80% { transform:translate(3%, -15%) }
  90% { transform:translate(-10%, 10%) }
}
