.layout {
  display: flex;
  height: 100vh;
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
  width: 50%;
  height: 100%;
  padding: 40px;
}
